@model NHibernate_Relationships.Models.Pessoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>

    <div id="listagemCarros">
        <p>Carros de @Model.Nome</p>
        <ul>
            @foreach (var carro in Model.Carros)
            {
                <li>@carro.Marca - @carro.Modelo (#@carro.Id)</li>
            }
        </ul>
    </div>

    <div id="listagemInvestimentos">
        <p>Investimentos de @Model.Nome</p>
        <ul>
            @foreach (var investimento in Model.Investimentos)
            {
                <li>@investimento.TipoInvestimento.Nome: @investimento.Valor.ToString("F2") em @investimento.DataCriacao.ToString("dd/MM/yyyy") (#@investimento.Id)</li>
            }
        </ul>
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
