@model NHibernate_Relationships.Models.Investimento

@{
    ViewBag.Title = "Investir";
}

<h2>Investir</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Investimento</h4>
    <hr />


    <div class="form-group">
        <label>Selecione uma pessoa</label><br />
        <div class="col-md-10">
            @Html.DropDownList("pessoaSelecionada", new SelectList((List<NHibernate_Relationships.Models.Pessoa>)ViewData["pessoas"], "Id", "Nome"))
        </div>
    </div>

    <div class="form-group">
        <label>Selecione o tipo de investimento</label><br />
        <div class="col-md-10">
            @Html.DropDownList("tipoInvestimentoSelecionado", new SelectList((List<NHibernate_Relationships.Models.TipoInvestimento>)ViewData["tiposInvestimentos"], "Id", "Nome"))
        </div>
    </div>

    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
